<div class="mdl-card stock-card mdl-shadow--2dp" [ngClass]="{increase:
    isPositive(), decrease: isNegative()}" style="width: 100%;">
    <span>
        <div class="mdl-card__title">
            Displays the symbol value <h4 style="color: #fff; margin: 0">
                converts to uppercase
                {{stock?.symbol?.toUpperCase()}}<br />
                {{stock?.lastTradePriceOnly | currency:'USD':'symbol':'.2'}}<br />
                {{stock?.change | currency:'USD':'symbol':'.2'}} ({{stock?.
    changeInPercent | percent:'.2'}})
                Displays the day’s
            </h4>
            change as currency
        </div>
        and as percent
    </span>
</div>